/* THIS IS MOD BY ME */
body {
  background-color: rgb(50, 48, 48);
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  border-style: solid;
  color: aliceblue;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  flex-grow: 1;
}

/* actual code */
h1 {
  color: grey;
  font-size: 64px;
  margin-bottom: 16px;
}

footer {
  color: rgb(127, 165, 150);
  border-top: 1px solid rgb(127, 165, 150);
  margin-top: 16px;
  padding: 16px 0; 
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

header a {
  color: bisque;
  margin-right: 16px;
  text-decoration: none;
}

.vector-img {
  width: 200px;
}

.about-text-container {
  float: right;
  width: 60%;
  text-align: justify;
  margin-left: 6%;
  margin-top: 4%;
  font-size: 14px;
}


input {
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 8px;
}

.icon {
  height: 18px;
}


.search-button {
  cursor: pointer;
  border: 1px solid #888888;
  background-color: bisque;
  border-radius: 12px;
 padding: 6px;
}











